.side-bar
  .side-bar__user-name
    .top-items
      .top-items__user-name
        越田
      .top-items__menu
        = link_to "#", class: "top-items__menu--btn" do
          = icon('far', 'edit', class: "top-items__menu--icon")
        = link_to "#", class: "top-items__menu--btn" do
          = icon('fas', 'cog', class: "top-items__menu--icon")
  .groups
    .groups__group-name
      LGTM
    .groups__latest-message
      lgtm
    .groups__group-name
      LGTM2
    .groups__latest-message
      lgtm2